################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/EfCore/FileContentIndex/12db7b74-46a1-4667-96f8-cb321d167bf3.vsidx
/.vs/EfCore/FileContentIndex
